{%extends 'base.html'%}
{%block content%}
<div class="container-fluid">
    <h4>{%block title%}About Us{%endblock%}</h4>
    <div class="p-3 mb-2 bg-primary text-white">Mission of changing lives
    <p>
        We are team of developers trying to change people lives
        <small class="text-muted">Make changes through technology</small>
    </p>
    <blockquote class="blockquote">
        <p>A well-known quote, contained in a blockquote element.</p>
      </blockquote>

  </div>
</div>
<h3 class="alert alert-success" role="alert">Top Contributors</h3>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Lereko</td>
        <td>Qholosha</td>
        <td>@instagram(lereko)</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>







{%endblock%}